$pink: #f205cb;
$purple: #9904d9;
$blue: #110226;
$orange: #f27405;
$black: #0d0d0d;

$selection-active-color: rgb(0, 102, 204);
$selection-opacity: 0.5;

$selection-neutral-color: rgb(180, 180, 180);

$line-height: 1rem;
$general-border-radius: 0.25rem;
